﻿@model IEnumerable<LovoldCodeChallenge.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">All Customers</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="customersTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>
</div>

@section CustomCSS {

    <link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap.css">

}

@section Scripts {
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/customers.js"></script>
}
